/* ..\..\desktop.blocks\page\page.css begin */
.page
{
    margin: 0;
    padding: 50px;
    font: 100 14px/1 Helvetica, Arial, sans-serif;
}

/* ..\..\desktop.blocks\page\page.css end */
/* ..\..\desktop.blocks\button\button.css begin */
.button
{
    margin: 0;
    padding: 10px;
    border: none;
    background: none;
    color: #ef4f69;
    cursor: pointer;
}

.button:focus
{
    outline: 0;
}

.button_hovered
{
    color: #495468;
}

/* ..\..\desktop.blocks\button\button.css end */
/* ..\..\desktop.blocks\navigation\navigation.css begin */
.navigation
{
    display: table;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
}

.navigation__title
{
    display: table-cell;
    width: 100%;
    text-align: center;
}

.navigation__prev-month,
.navigation__next-month
{
    display: table-cell;
    font-size: 24px;
}

.navigation__prev-month:after
{
    content: '\25c2';
}

.navigation__next-month:after
{
    content: '\25b8';
}

/* ..\..\desktop.blocks\navigation\navigation.css end */
/* ..\..\desktop.blocks\month\month.css begin */
.month
{
    background: #f6f6f6;
}

.month__week
{
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.month__week:after
{
    display: table;
    clear: both;
    content: "";
}

.month__day
{
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 4px;
    width: 14.285%;
    width: -webkit-calc(100% / 7);
    width: -moz-calc(100% / 7);
    width: calc(100% / 7);
    height: 30px;
    border-right: 1px solid #ddd;
    background: #fff;
    text-align: center;
    line-height: 22px;
}

.month__day:hover
{
    background: #e5e9f2;
}

.month__day_empty_yes,
.month__day_empty_yes:hover
{
    background: transparent;
}

.month__day_empty_no
{
    cursor: pointer;
}

.month__day_today_yes
{
    background: #ef4f69;
    color: #fff;
}

    .month__day_today_yes:hover
    {
        background: #d5395c;
    }

.month__day_active_yes
{
    -webkit-box-shadow: 0 0 0 3px #495468 inset;
    box-shadow: 0 0 0 3px #495468 inset;
}

/* ..\..\desktop.blocks\month\month.css end */
/* ..\..\desktop.blocks\calendar\calendar.css begin */
.calendar
{
    margin: 0 auto;
    width: 400px;
}

/* ..\..\desktop.blocks\calendar\calendar.css end */
/* ..\..\desktop.blocks\title\title.css begin */
.title
{
    margin: 0 0 48px;
    color: #495468;
    text-align: center;
    font-size: 24px;
}

/* ..\..\desktop.blocks\title\title.css end */
